:root {
    --margin-sm: 5px;
    --margin-med: 10px;
    --padding-sm: 5px;
    --padding-med: 10px;
    --main-color: #bd00bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* High Score Link and Timer */
header {
    justify-content: space-between;
    margin: var(--margin-med);
    height: 25vh;
}

header span {
    padding: var(--padding-med);
}

#high-score {
    color: var(--main-color);
    height: fit-content;
    padding: var(--padding-med);
    text-decoration: none;
}

#high-score:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Quiz Title, Description, and Start Button */
#description {
    justify-content: center;
}

#description h1 {
    font-size: 26px;
}

#description p {
    font-size: 16px;
    margin: var(--margin-med);
    padding: var(--padding-sm);
    text-align: center;
    line-height: 1.3;
}

#btn-container {
    justify-content: center;
}

.btn {
    padding: 10px 25px;
    margin-top: var(--margin-med);
    border-radius: 15px;
    font-size: 16px;
    background-color: #800080;
    color: white;
}

.btn:hover {
    background-color: #bd00bd;
    cursor: pointer;
}

/* Question Styles */
#question-container {
    justify-content: center;
}

#question-container h2 {
    font-size: 24px;
    flex-basis: 60%;
    text-align: center;
    margin-bottom: 15px;
}

#answer-container {
    flex-basis: 50%;
    justify-content: center;
}

#feedback-container {
    flex-basis: 100%;
    justify-content: center;
    margin-top: 15px;
}

/* Score Form */
#form-container {
    justify-content: space-evenly;
    margin-top: 10px;
    flex-basis: 100%;
}

#form-container label, #form-container input {
    flex-basis: 40%;
}

#form-container button {
    margin-top: 15px;
    flex-basis: 40%;
}

#player-score {
    justify-content: center;
}

/* 425px */

@media screen and (min-width: 425px) {
    #description h1 {
        font-size: 30px;
    }

    #highscore, #time, #description p, #form-container label, .btn {
        font-size: 18px;
    }
}

/* 550px */

@media screen and (min-width: 550px) {
    #highscore, #time {
        font-size: 20px;
    }

    #description h1 {
        font-size: 32px;
    }

    #description p {
        font-size: 20px;
        flex-basis: 75%;
    }
}

/* 768px */
@media screen and (min-width: 768px) {
    #description h1 {
        font-size: 36px;
    }

    #highscore, #time, #description p {
        font-size: 24px;
    }

    #btn-container button {
        font-size: 20px;
    }
}

/* 980px */
@media screen and (min-width: 980px) {
    #description h1 {
        font-size: 40px;
    }

    #highscore, #time, #description p {
        font-size: 28px;
    }
}